.Inputs-form {
    width: 83%;
    margin: 0 auto;
}

.Inputs-radiobtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#custom {
    width: 47%;
    height: 4.8rem;
    padding: auto;
}

.Inputs-label {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cyan2);
    letter-spacing: .06rem;
}

.Inputs-labelspacer {
    height: .7rem;
}

.Inputs-form i {
    position: relative;
    left: 1.7rem;
    top: 1.7rem;
    z-index: 1;
    height: 1.7rem;
}

.Inputs-with-icon {
    position: relative;
    top: -1.7rem;
}