@import './adjust.css';

/* GLOBAL */

* {
    font-family: 'Space Mono', monospace;
}

html {
    font-size: 62.5%;

    --cyan-primary: hsl(172, 67%, 45%);
    --cyan1: hsl(186, 100%, 15%);
    --cyan2: hsl(186, 14%, 43%);
    --cyan3: hsl(184, 14%, 56%);
    --cyan4: hsl(185, 41%, 84%);
    --cyan5: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cyan4);
    font-weight: 400;
    min-height: 100vh;
    width: 100%;
}

main {
    background-color: var(--white);
    border-radius: 3rem 3rem 0 0;
    padding-top: 3.25rem;
}


input {
    font-size: 2.4rem;
    font-weight: 700;
}

input:hover {
    cursor: pointer;
}

input[type="text"] {
    border: none;
    background-color: var(--cyan5);
    padding: .5rem 1.9rem;
    color: var(--cyan1);
    text-align: right;
    width: 100%;
    border-radius: .5rem;
}

input[type="text"]:focus-visible,
.Result-resetbtn:focus-visible {
    outline: .2rem solid var(--cyan-primary);
}

input[type="radio"] {
    opacity: 0%;
    width: 0;
    position: fixed;
}

.Inputs-radiolabel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cyan1);
    width: 47%;
    height: 4.8rem;
    border-radius: .5rem;
    color: var(--cyan5);
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    font-weight: 700;
}

.Inputs-radiolabel:hover,
.Result-resetbtn:hover {
    background-color: rgb(141, 236, 224);
    color: var(--cyan1);
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color:hsl(172, 67%, 45%);
    color: var(--cyan1);
}


fieldset {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-top:.91rem;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
    margin-top: 3.5rem;
    position: relative;
    top: -1.7rem;
}

legend {
    padding-left: 0;
    padding-right: 0;
    border: none;
}

/* UTILITIES */

.visually-hidden {   
    height: 1px; 
    overflow: hidden;
    width: 1px;   
    position: absolute;  
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}